:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: 0;
}

body {
    background: var(--stone-100);
    color: var(--stone-600);
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: 16px;
    font-family: "Young Serif", serif;
}

button {
    cursor: pointer;
}

.img {
    max-width: 100%;
    height: auto;
}

.segment {
    width: 35%;
    height: auto;
    background: var(--white);
    margin: 2rem auto;
    border-radius: 1.5rem;
    display: block;
    padding: 1rem 1rem;
}

.recipe_intro,
.ingredients,
.instructions,
.nutrition {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.recipe_intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.recipe_image {
    width: 100%;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.recipe_image img {
    width: 100%;
    border-radius: 1rem;
}

.recipe_intro_note {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe_intro_note h2 {
    margin: 1rem 0;
    color: var(--stone-900);
    font-weight: 700;
}

.recipe_intro_note p {
    font-size: 12px;
    color: var(--stone-600);
    font-weight: 400;
}

.recipe_summary {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background: var(--rose-50);
    justify-content: center;
    gap: 1.5rem;
    margin: 1.5rem 0;
    border-radius: 1.2rem;
}

.recipe_summary h3 {
    color: var(--rose-800);
    font-weight: 600;
    font-size: 16px;
}

.recipe_summary ul {
    margin: 0;
    padding: 0 1rem;
}

.recipe_summary li {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0.4rem;
    text-indent: 10px;
}

.ingredients,
.instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 1rem;
}

.ingredients h3,
.instructions h3,
.nutrition h3 {
    color: var(--brown-800);
    font-weight: 700;
}

.ingredients ul,
.instructions ol {
    margin: 0;
    padding: 0 1.2rem;
}

.ingredients ul li,
.instructions ol li {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0.4rem;
    text-indent: 10px;
}

.nutrition p {
    font-size: 12px;
    font-weight: 400;
}

.nutrition_table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}